body {
	margin: 0;
}

header {
	width: 100%;
	background-color: #8f048f;
	color: white;
	padding: 5em 1.5em 0.5em 0;
	/* box-shadow: #520452 0 7px; */
}

h1 {
	margin-top: 0;
	font-family: "Merienda One", cursive;
	font-size: 68px;
	text-align: center;
	text-shadow: #520452 7px 7px;
}

#headerGreeterWraper {
	background-color: #520452;
	border-radius: 0 2em 2em 0;
	width: 40%;
	padding-right: 2em;
	padding-bottom: 0.2em;
	text-align: right;
}

h3 {
	font-family: "Quicksand", sans-serif;
	font-size: 34px;
	font-weight: 100;
	margin: 0;
}

main {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.pet-presentation {
	padding: 2em;
	clear: both;
}

.picture-wrapper {
	width: 30%;
}

.pet-description-wrapper {
	width: 70%;
}

.pet-presentation:nth-child(n) .picture-wrapper {
	float: left;
}

.pet-presentation:nth-child(n) .pet-description-wrapper {
	float: left;
}

.pet-presentation:nth-child(2n) .picture-wrapper {
	float: right;
}

.pet-presentation:nth-child(2n) .pet-description-wrapper {
	float: right;
}

img {
	width: 100%;
	height: 100%;
}

.pet-description {
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	padding-left: 1em;
}

.pet-name {
	font-family: "Merienda One", cursive;
	font-size: 48px;
	/* text-shadow: #520452 7px 7px; */
}

.kitty-name {
	color: rgb(103, 103, 155);
}

.shrimp-name {
	color: rgb(15, 9, 49);
}

.octy-name {
	color: rgb(177, 7, 21);
}

.check-frame {
	width: 4em;
	height: 4em;
	border: 0.4em solid rgb(103, 103, 155);
}

.inner-check-frame-background {
	width: 3em;
	height: 3em;
	background-color: rgb(103, 103, 155);
	margin: 0.5em;
}
